<nav class="navbar navbar-expand-lg navbar-light nav-style shadow-sm" style="width: 100%;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/imgs/R.jpg" alt="Logo de l'application" width="30" height="30" class="img-style">
        </a>
        <div class="search-style">
        <div *ngIf="!isSearching" (click)="toggleSearch()" class="search-icon">
            <img src="../../../assets/imgs/search-icon-images-16.jpg" alt="Rechercher" width="20" height="20">
        </div>
        <form class="form-inline my-2 my-lg-0" style="margin-left: 200px;" *ngIf="isSearching">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Rechercher..." [(ngModel)]="searchQuery">
                <div class="input-group-append">
                    <div (click)="toggleSearch()" class="search-icon">
                        <img src="../../../assets/imgs/search-icon-images-16.jpg" alt="Rechercher" width="20" height="20">
                    </div>
                </div>
            </div>
        </form>
        </div>
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="#">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cours</a>
            </li>
        </ul>
    </div>
</nav>
