.nav-style{
    background-color: white;
    height: 60px;
}
.img-style{
    width: 110px;
    height: 55px;
    margin-left: -50px;
}
.search-icon{
    margin-left: 5px;
}
.search-style{
    margin-left: -970px;
}